.card{
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
}
.card img {
  width:100%;
  position: absolute;
}
.card h3 {
  position: absolute;
  left:30%;
  color:#fff;
  text-align: center;
}
